/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        dancelay_1: dancelay_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "DANCELAY_1";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&tog 1>, <&tog 3>;

            tapping-term-ms = <300>;
        };

        hold_tapsk: hold_tapsk {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAPSK";
            bindings = <&kp>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };

        danclay_2: danclay_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "DANCLAY_2";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&tog 2>;

            tapping-term-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESC                      &kp DOUBLE_QUOTES  &kp HASH  &kp SLASH  &kp ASTRK                      &kp PERCENT                             &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SQT    &kp CARET  &kp DEL    &kp BACKSPACE
&kp DELETE                   &kp Q              &kp W     &kp E      &kp R                          &kp T                                   &kp Y                 &kp U                  &kp I      &kp O      &kp P      &kp EXCLAMATION
&kp CAPSLOCK                 &kp A              &kp S     &kp D      &kp F                          &kp G                                   &kp H                 &kp J                  &kp K      &kp L      &kp GRAVE  &kp GRAVE
&hold_tapsk LSHFT LC(LSHFT)  &kp Z              &kp X     &kp C      &kp V                          &kp B        &dancelay_1    &danclay_2  &kp N                 &kp M                  &kp COMMA  &kp DOT    &kp MINUS  &hold_tapsk RSHFT CAPS
                                                &none     &kp LGUI   &hold_tapsk LALT LC(LEFT_ALT)  &kp LCTRL    &kp SPACE      &kp ENTER   &kp RCTRL             &kp RALT               &kp RGUI   &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        num-prog {
            label = "num";

            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&trans         &trans           &trans        &trans        &trans        &trans                        &trans     &trans    &trans         &trans                &trans                 &trans
&kp LESS_THAN  &kp EXCLAMATION  &kp AT        &kp HASH      &kp DOLLAR    &kp PLUS                      &kp CARET  &kp AMPS  &kp ASTRK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET
&kp AT         &kp N1           &kp N2        &kp N3        &kp N4        &kp N5                        &kp N6     &kp N7    &kp N8         &kp N9                &kp N0                 &kp RIGHT_BRACE
&trans         &trans           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &trans    &tog 2  &trans     &kp HOME  &kp PAGE_DOWN  &kp END               &none                  &trans
                                &trans        &trans        &trans        &trans      &trans    &trans  &trans     &trans    &trans         &trans
            >;

            sensor-bindings =
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        vsc {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &tog 1    &trans  &trans  &trans  &trans  &trans   &trans   &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "vsc";
        };

        bt-studio {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &studio_unlock                    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &bootloader   &sys_reset                        &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans                            &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &tog 3    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                          &trans        &trans        &trans        &trans          &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "settings";
        };
    };
};
